html, body, #root, #page {
  width: 100%;
  margin: 0;
  font-family: 'Tenali Ramakrishna', sans-serif;
  background-color: #C0D6C0;
  color: black;
}

#root {
  padding-top: 10px;
  padding-left: 40px;
}

#title {
  font-size: 4em;
}

#onTop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30%;
}
